
 <div >
 
  <div fxLayout="row" fxLayoutAlign="end center" class="listContainer">
    <mat-paginator [length]="groceryList[0]?.totalSize"
              [pageSize]="10"
              aria-label="Select page"
              (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
 </div> 
 <div *ngIf="!showGrid" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate" diameter='50' strokeWidth='10'></mat-progress-spinner>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid" class="listContainer">
 
  
 
    <div *ngFor="let grocery of groceryList" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
       <a href={{grocery.producturl}} target="_blank">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="matTitle">{{ grocery.productname }}</mat-card-title>
             
            </mat-card-header>
            <img mat-card-image src={{grocery.productimage}} alt="Photo of a Shiba Inu" class="responsive">
           
          </mat-card>
        </a>
    </div>

</div>
<div fxLayout="row" fxLayoutAlign="end center" class="listContainer">
  <mat-paginator [length]="groceryList[0]?.totalSize"
            [pageSize]="10"
            aria-label="Select page"
            (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
</div> 
</div>