.example-card {
    max-width: 320px;
    height: 400px;
  }


  .responsive {
    max-width: 100%;
    height: auto;
  }

  .listContainer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  #groceryItem :hover{
    box-shadow: 5px 10px #888888
  }
.matTitle{
    height: 10%;
    text-decoration: none !important;
  }