<div fxLayout="row">
<div fxFleX="20">

</div>    
<div class="main_about"  fxLayout="column" fxLayoutAlign="center center" fxFlex=60 fxFlexOffset="18">
    <div class="profile_image">
    <div class="user one">
    </div>
</div>
    <label id="about_label">
        About Me
    </label>
    <section class="desc">
        <p>
            My name is Bhavya Shah, pursuing Master's in Management Information System. I recently moved to USA from India.
            I follow a Jain diet in which one doesn't eat any of the food that grows underground. When I moved here, I faced 
            lot of issues in terms of the food that I could consume. Therefore, this website is developed for
            people with dietary restrictions. Initially it is focused for items that can be consumed by Jains and later on
            would be expanded for other religions and dietary restrictions. 

            This website would eventually become the one stop destination for people with dietary restrictions and
            would include products across the world.
        </p>
    </section>
</div>
<div fxFleX>

</div>
</div>
