.main_about {
    // border-style: solid;
    // margin-top: 14%;
    
}

.desc{
    font-size: 150%;
    line-height: 1.4;
    text-align: justify;
  text-justify: inter-word;
    
}

#about_label{
    font-size: 200%;
    padding-bottom: 3%;

}

.user {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 
  }

.profile_image{
    padding-bottom: 5%;
}
  
  .one {
    background-image: url('../../assets/bhavya\ profile-modified.png');
  }